body {
background-color: var(--secondary-color);


}

header {
    height: 150px;
    background-color:var(--primary-color);
}

nav {
    height: 100%;
    text-align: center;
    line-height: 150px;
}

nav a {
    text-decoration: none;
    font-size: 30px;
    text-transform: capitalize;
    margin: 0 30px;
    color: white;
}

.content img {
    border: 5px solid var(--primary-color);
    border-radius: 20px;
}

.content button {
    background-color:var(--primary-color);
    color: var(--secondary-color);
    width: 100px;
    height: 40px;
    border: none;
    margin: 20px;
}